html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  color: #512200;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  padding: 1rem;
  border-radius: 3px;
}

a.link-card {
    text-decoration: none;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
}

.link-card dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  padding: 1rem 0;
  font-size: .875rem;
}

.link-card dt {
  min-width: 7em;
  display: inline-block;
}

.link-card dd {
  display: inline-block;
  font-style: italic;
}

a .btn {
  background-color: #785439;
  padding: .4em .75em .5em;
  color: #fff;
  text-decoration: none;
  font-family: Dosis, sans-serif;
  border-radius: 8px;
  font-size: 1.125rem;
  text-align: center;
}

a .btn:hover {
  background-color: #512200;
}
