html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
  padding: 1rem;
}

.link-card {
  text-decoration: none;
  color: #512200;
  text-align: center;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  margin: 0;
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.link-card dt {
  display: inline-block;
  min-width: 6em;
}

.link-card dd {
  display: inline-block;
  font-style: italic;
}

.link-card dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  padding: 1rem;
  font-size: .875rem;
  text-align: left;
}

p {
  text-align: left;
}

.btn {
  background-color: #9a816d;
  color: #fff;
  font-family: Dosis, sans-serif;
  margin: .4em .75em .5em;
  padding: .5rem;
  border-radius: 8px;
  font-size: 1.125rem;
}

a .btn:hover {
  background-color: #785439;
}
